<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.4.1/github-markdown.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css"/>
<link rel="stylesheet" href="/layout.css" type="text/css">

<title>{{.Title}} - Bucket Wiki</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
<script>
 $(function() {
     var clipboard = new Clipboard('.btn');

     clipboard.on('success', function(e) {
         e.clearSelection();
     });
     $('.btn').popup({
         on       : 'click',
         position : ''
     });
 });
</script>
</head>
<body>
<div class="ui menu">
        <div class="header item">Bucket Wiki</div>
        <a href="#" class="item"><i class="icon history"></i>History</a>
        <a href="/page/{{.Title}}/edit" class="item"><i class="icon edit"></i>Edit</a>
        <div class="right menu">
            <a href="#" class="item"><i class="icon settings"></i>Setting</a>
            <a href="/logout" class="item"><i class="icon sign out"></i>Logout</a>
        </div>
</div>
<div class="ui horizontally padded grid">
    <div class="left floated eight wide column">
        <div class="ui breadcrumb">
            <a class="section" href="/">Home</a>
            <i class="right chevron icon divider"></i>
            {{range $var := .Breadcrumb}}
            <div class="section"><a href="/page/{{$var}}">{{$var}}</a></div>
            <i class="right arrow icon divider"></i>
            {{end}}
            <div class="active section">{{.Title}}</div>
        </div>
    </div>
    <div class="right floated right aligned eight wide column">
        {{if .Public}}
        <div class="ui input">
            <form action="/page/{{.Title}}/acl" method="post">
                <input type="hidden" name="acl" value="private">
                <button class="ui basic green button" data-tooltip="Make this page private" data-position="bottom right"><i class="unhide icon"></i>Public</button>
            </form>
        </div>
        <div class="ui action input">
            <input id="url" type="text" value="{{.PublicURL}}">
            <button class="btn ui icon button" data-clipboard-target="#url" data-content="Copied" data-position="bottom right">
                <i class="copy icon"></i>
            </button>
        </div>
        {{else}}
        <form action="/page/{{.Title}}/acl" method="post">
            <input type="hidden" name="acl" value="public">
            <button class="ui basic gray button" data-tooltip="Make this page Public" data-position="bottom right"><i class="hide icon"></i>Private</button>
        </form>
        {{end}}
    </div>
</div>
<div class="ui main container">
    <div class="markdown-body">
        {{.Body}}
    </div>
</div>
<div class="ui footer container">
    Last update: {{.LastModified}}, Author: {{.Author}}
</div>
</body>
</html>
